@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />
<style>
    .card-height { height: 511px; }
    .top_box_area .card-body { height: 160px; }
</style>

<div class="col-md-12">
    <div class="card-raised card-carousel">
        <div id="carouselindicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row top_box_area">
                        <div class="col-lg-3 col-md-3">
                            <div class="card card-block card-stretch back-img">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5 class="mobileCard">Meter : Customers</h5>
                                            <h3>@ViewBag.TotalMeters : @ViewBag.TotalCustomers</h3>
                                        </div>
                                        <div class="vector-img"><img src="~/Images/customermeter.png" class="avatar-80 rounded" alt="user"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="card card-block card-stretch back-img">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5 class="mobileCard">AMR : Meter</h5>
                                            <h3>@ViewBag.TotalAMR : @ViewBag.TotalMeters</h3>
                                        </div>
                                        <div class="vector-img"><img src="~/Images/amrmeter.png" class="avatar-80 rounded" alt="user"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="card card-block card-stretch back-img">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5 class="mobileCard">Vayudoot : AMR</h5>
                                            <h3>@ViewBag.totalVayudut : @ViewBag.TotalAMR</h3>
                                        </div>
                                        <div class="vector-img"><img src="~/Images/vaydutamr.png" class="avatar-80 rounded" alt="user"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="card card-block card-stretch back-img">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5 class="mobileCard">SIM Card : Vayudoot</h5>
                                            <h3>@ViewBag.totalVayudut : @ViewBag.totalVayudut</h3>
                                        </div>
                                        <div class="vector-img"><img src="~/Images/Vayudoot.png" class="avatar-80 rounded" alt="user"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xl-4">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-header">
                                    <h4 class="card-title">Total AMR</h4>
                                </div>
                                <div class="card-body">
                                    <div id="chart-amrRatio"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-8">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-header">
                                    <h4 class="card-title">Vayudoot Packets</h4>
                                </div>
                                <div class="card-body">
                                    <div id="Vayudootchart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row top_box_area">
                        <div class="col-lg-3 col-md-3">
                            <div class="card card-block card-stretch back-img">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5 class="mobileCard">Total Consumption</h5>
                                            <h3>@ViewBag.TotalConsumption</h3>
                                        </div>
                                        <div class="vector-img"><img src="~/Images/meter.png" class="avatar-80 rounded" alt="user"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="card card-block card-stretch back-img">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5 class="mobileCard">Revenue</h5>
                                            <h3>@ViewBag.Revenue/-</h3>
                                        </div>
                                        <div class="vector-img"><img src="~/Images/revenue.png" class="avatar-80 rounded" alt="user"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="card card-block card-stretch back-img">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5 class="mobileCard">Pending AMR</h5>
                                            <h3>@ViewBag.PendingAMR</h3>
                                        </div>
                                        <div class="vector-img"><img src="~/Images/amr.png" class="avatar-80 rounded" alt="user"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="card card-block card-stretch back-img">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5 class="mobileCard">AMR with Sales</h5>
                                            <h3>@ViewBag.AMRWithSales</h3>
                                        </div>
                                        <div class="vector-img"><img src="~/Images/amr.png" class="avatar-80 rounded" alt="user"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xl-4">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-header">
                                    <h4 class="card-title">Total Customers</h4>
                                </div>
                                <div class="card-body">
                                    <div id="chart-TotalCustomer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-8">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-header">
                                    <h4 class="card-title">Total Customer Composition</h4>
                                </div>
                                <div class="card-body">
                                    <div id="chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselindicators" role="button" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselindicators" role="button" data-slide="next">
                <i class="fa fa-chevron-right"></i>
                <span class="sr-only">Next</span>
            </a>
            <ol class="carousel-indicators">
                <li data-target="#carouselindicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselindicators" data-slide-to="1"></li>
            </ol>
        </div>
    </div>
</div>

<script src="~/assets/js/apexcharts.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function renderChart(selector, options) {
            var chart = new ApexCharts(document.querySelector(selector), options);
            chart.render();
        }

        var totalCustomerOptions = {
            series: [@ViewBag.TotalRAMR, @ViewBag.Nosales],
            chart: { height: 288, type: 'donut' },
            labels: ["Running", "No Sales"],
            colors: ['#F56692', '#04237D'],
            legend: { position: 'bottom' }
        };
        renderChart("#chart-TotalCustomer", totalCustomerOptions);

        var amrVayudootOptions = {
            series: [@ViewBag.AMRWithSales, @ViewBag.totalVayudut],
            chart: { height: 288, type: 'donut' },
            labels: ["AMR", "Vayudoot"],
            colors: ['#F56692', '#04237D'],
            legend: { position: 'bottom' }
        };
        renderChart("#chart-VayudootAMR", amrVayudootOptions);

        var salesCompositionOptions = {
            series: [{
                name: 'Running',
                data: @Html.Raw(Json.Encode(ViewBag.IntArray))
            }, {
                name: 'No Sales',
                data: @Html.Raw(Json.Encode(ViewBag.ZeroArray))
            }],
            chart: { type: 'bar', height: 350, stacked: true },
            plotOptions: { bar: { horizontal: false, borderRadius: 10 } },
            xaxis: { categories: @Html.Raw(Json.Encode(ViewBag.MonthArray)) },
            colors: ['#F56692', '#04237D'],
            legend: { position: 'right' }
        };
        renderChart("#chart", salesCompositionOptions);

        var amrRatioOptions = {
            series: [{ data: [@ViewBag.AMRWithSales, @ViewBag.totalZeroCinsumption] }],
            chart: { type: 'bar', height: 350 },
            plotOptions: { bar: { borderRadius: 4, horizontal: true } },
            dataLabels: { enabled: false },
            colors: ['#6b6e96'],
            xaxis: { categories: ['With Sales', 'Zero Consumption'] }
        };
        renderChart("#chart-amrRatio", amrRatioOptions);

        var vayudootPacketOptions = {
            series: [{ name: 'Vayudoots', data: [2000, 3000, 2500, 1800, 1000] }],
            chart: { height: 350, type: 'bar' },
            plotOptions: { bar: { borderRadius: 10, columnWidth: '50%' } },
            dataLabels: { enabled: false },
            stroke: { width: 2 },
            grid: { row: { colors: ['#fff', '#f2f2f2'] } },
            xaxis: {
                categories: ['Vayudoot 1', 'Vayudoot 2', 'Vayudoot 3', 'Vayudoot 4', 'Vayudoot 5'],
                tickPlacement: 'on'
            },
            yaxis: { title: { text: 'Vayudoots' } },
            fill: { type: 'gradient', gradient: { shade: 'light', type: "horizontal", shadeIntensity: 0.25, inverseColors: true, opacityFrom: 0.85, opacityTo: 0.85, stops: [50, 0, 100] } }
        };
        renderChart("#Vayudootchart", vayudootPacketOptions);
    });
</script>